.footer{
    color: white;
text-align: center;
background-color: rgb(9,9, 9);
padding: 10px 0px;

}
.footer p{
    cursor:default;
    margin: 0px;
    padding: 5px;
    font-size: small;
}
.footer span{
    letter-spacing: 0.2rem;
    color:aliceblue;
    font-size: 17px;
}
.footer .mycode{
    color: red;
}
@media screen  and (max-width:800px) {
    .footer{
        background-color: rgb(25,25, 25);
    padding-bottom: 60px;
    }
    .footer p{
        font-size:12px;
        padding: 0px;
    }
    .footer span{
        font-size: 16px;
    }
}